html, body {
    height: 100%;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navbar-container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.main {
    min-height: 100%;
    padding-bottom: 120px;
}

.content {
    position: relative;
    margin: 20px 15%;
}

.footer {
    display: block;
    height: 120px;
    margin-top: -120px;
}

/* for home page */
.intro {
    padding-top: 140px;
    padding-bottom: 200px;
    margin-bottom: 30px;
    background-color: #3498DB;
    color: #ffffff;
}

.tiles {
    margin-bottom: 46px;
    height: auto;
    overflow: hidden;
}

.tile {
    margin-left: 10px;
    margin-right: 10px;
}

.page-container {
    display: block;
    margin-left: auto ! important;
    margin-right: auto ! important;
}

.content-panel {
  width: 70%;
  background: #ECF0F1;
  float: left;
  margin-bottom: 20px;
}

/* for sidebar */
.sidebar {
  width: 30%;
  padding: 0 10px;
  float: left;
}

.sidebar .box {
  font-size: 15px;
}

.sidebar .box+.box {
  margin-top: 10px;
}

.sidebar .box .title {
  background: #ECF0F1;
  padding: 5px;
  text-align: center;
}

.sidebar .box > .content {
  margin: 0;
  border: solid 1px #ECF0F1;
}

.sidebar .box > .content li {
}

.sidebar .box > .content li:before {
  padding: 5px;
  content: "\00b7";
}

.sidebar .categories {
  font-size: 18px;
  background: #ECF0F1;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sidebar .categories > .category {
  font-weight: normal;
  line-height: 40px;
}

.sidebar .categories > .category a {
  display: block;
  padding: 0 22%;
}

.sidebar .categories > .category:hover {
  background: #e3e3e3;
}

.sidebar .categories > .category > .categories {
  padding: 0;
  font-size: 15px;
}

.sidebar .categories > .category > .categories > .category {
  padding: 0;
}

.sidebar .categories > .category > .categories > .category a {
  padding-left: 30%;
}

.sidebar .category.active {
  font-weight: bold ;
}

/* for bbs */
.topics {
    width: 66.6%;
    background: #ECF0F1;
    float: left;
    margin-bottom: 20px;
}

.topics-header {
    background: #ECF0F1;
    padding: 10px;
}

.topics-header .sorts {
    text-align: right;
    font-size: 15px;
}

.topics-header .sorts .lb {
    text-align: right;
}

.topics-header .sorts > ul {
    display: inline;
    padding: 0;
}

.topics-header .sorts > ul > li {
    display: inline;
}

.topics-header .sorts > ul > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.topics-header .sorts > ul > li > a.active {
    text-decoration: none;
}

.topics-stream {
    background: #ffffff;
}

.topics-stream-item {
    border: solid 1px #ECF0F1;
    border-top: 0;
    padding: 10px 10px 10px 80px;
}

.topics-stream-item .avatar img {
    float: left;
    width: 60px;
    height: 60px;
    margin-left: -70px;
}

.topics-stream-item .title {
    font-size: 16px;
    padding-bottom: 5px;
}

.topics-stream-item .description {
    font-size: 12px;
}

.topics-stream-item .description a {
    color: #95A5A6;
}

.topics-stream-item .description .tag > a {
    color: #ffffff;
}

.topics-stream-item .description span + span:before {
    padding: 0 5px;
    color: #ccc;
    content: "\00b7";
}

/* for topic */
.topic {
  width: 66.6%;
  float: left;
  margin-bottom: 20px;
}

.topic > .topic-header {
  padding: 5px 10px;
  background: #ECF0F1;
}

.topic > .topic-header .avatar img {
  float: right;
  width: 60px;
  height: 60px;
}

.topic > .topic-header .title {
  font-size: 24px;
}

.topic > .topic-header .description {
  font-size: 13px;
}

.topic > .topic-content {
  padding: 10px;
  border: solid 1px #ECF0F1;
  word-wrap:break-word;
}

.topic > .replies {
  margin-top: 10px;
  background: #ECF0F1;
}

.topic > .no-replies {
  text-align: center;
}

.topic > .replies .reply-header {
  padding: 5px 10px;
}

.topic > .replies .reply-list {

}

.topic > .replies .reply-list .reply-list-item {
  background: #ffffff;
  border: solid 1px #ECF0F1;
  border-top: 0;
  padding: 10px 10px 10px 60px;
}

.topic > .replies .reply-list .reply-list-item .avatar img {
  float: left;
  width: 40px;
  height: 40px;
  margin-left: -50px;
}

.topic > .replies .reply-list .reply-list-item .title {
  font-size: 14px;
}

.topic > .replies .reply-list .reply-list-item .title .time:before {
  content: "·";
}

.topic > .replies .reply-list .reply-list-item .content{
  margin: 0;
  word-wrap:break-word;
}

/* for forms */
.form-container {
    margin: 20px auto;
    background-color: #edeff1;
    padding: 24px 23px 20px;
    position: relative;
    border-radius: 6px;
}

.signin-form {
    width: 400px;
}

.signup-form {
    width: 500px;
}

.form-container .form-group {
    margin-bottom: 0;
}

.form-container .control-group {
    margin-bottom: 6px;
    position: relative;
}

.form-container .form-field {
    border-color: transparent;
    font-size: 17px;
    text-indent: 3px;
}

.form-container .form-field:focus {
    border-color: #1abc9c;
}

.form-container .form-field:focus + .form-field-icon {
    color: #1abc9c;
}

.form-container .form-field-icon {
    color: #bfc9ca;
    font-size: 16px;
    position: absolute;
    right: 15px;
    top: 3px;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.form-group img {
  display: block;
  width: 60px;
  height: 60px;
}

.form-group .form-upload {
  margin-top: 10px;
}

.form-group .form-upload .btn-upload {
  width: 70px;
}

.form-group .form-upload .input-img-upload {
  display: none;
}

.form-group .input-img-upload {
  padding: 0;
  border: 0;
}

.form-link {
    color: #95A5A6;
    font-size: 15px;
    margin-top: 15px;
    margin-right: 20px;
    text-align: center;
}

.form-container .form-group .required:before {
    color: red;
    content: "*";
}

.form-error-msg {
    color: red;
    font-size: 14px;
    line-height: 15px;
    height: 25px;
}

/* for bug */
.page-header {
    padding-bottom: 5px;
}

.page-header .title {
    font-size: 25px;
}

.page-header .sorts {
    margin-top: 12px;
    margin-left: 15px;
    text-align: right;
    font-size: 15px;
}

.page-header .sorts .lb {
    text-align: right;
}

.page-header .sorts > ul {
    display: inline;
    padding: 0;
}

.page-header .sorts > ul > li {
    display: inline;
}

.page-header .sorts > ul > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.page-header .sorts > ul > li > a.active {
    text-decoration: none;
}

.bug-panel {
    width: 70%;
    float: left;
    margin-bottom: 20px;
}

.bug-panel > .comments {
    margin-top: 10px;
    background: #ECF0F1;
}

.bug-panel > .no-comments {
    text-align: center;
}

.bug-panel > .comments .comment-header {
    padding: 5px 10px;
}

.bug-panel > .comments .comment-list {

}

.bug-panel > .comments .comment-list .comment-list-item {
    background: #ffffff;
    border: solid 1px #ECF0F1;
    border-top: 0;
    padding: 10px 10px 10px 60px;
}

.bug-panel > .comments .comment-list .comment-list-item .avatar img {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: -50px;
}

.bug-panel > .comments .comment-list .comment-list-item .title {
    font-size: 14px;
}

.bug-panel > .comments .comment-list .comment-list-item .title .time:before {
    content: "·";
}

.bug-panel > .comments .comment-list .comment-list-item .content{
    margin: 0;
    word-wrap:break-word;
}

/* for dashboard */
.dashboard {
  width: 70%;
  float: left;
  margin-bottom: 20px;
}

.dashboard .dashboard-header {
  padding: 5px 20px;
  background: #edeff1;
}

.dashboard .dashboard-content {
  padding: 0 10px 10px 20px;
  border: solid 1px #edeff1;
}

.dashboard .dashboard-content .no-list{
    display: block;
    padding-top: 10px;
    margin-left: -10px;
    text-align: center;
}

.dashboard .lists {

}

.dashboard .lists .list-item {
  border-bottom: solid 1px #edeff1;
}

.dashboard .lists .list-item .list-item-content {
  padding-top: 10px;
}

.dashboard .lists .list-item .list-item-content .status {
  font-size: 14px;
}

.dashboard .lists .list-item .list-item-content .quatation {
  margin-left: 20px;
}

.dashboard .lists .list-item .list-item-content .quatation:before,
.dashboard .lists .list-item .list-item-content .quatation:after {
  content: '"';
}

.dashboard .lists .list-item .list-item-content .time {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 13px;
}

.dashboard .lists .list-item .list-item-footer {
  font-size: 15px;
}

.dashboard .lists .list-item .list-item-footer a {
  margin-right: 10px;
}

.dashboard .form-horizontal {
  padding-top: 20px;
}
